@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3";

@import "fonts";
@import "colors";
@import "global";

.site-content-contain{
	overflow: hidden;
	position: relative;
	z-index: 0;
	padding-top: 156px;
	
}


.lg-masthead{
	background-color: $dark-blue;
	
	@include transform-origin(top, center);
	@include transition(.2s all ease-in-out);
	.feature{
		height: 381px;
		background-color: $black;
		padding: 20px;
		margin: 0 20px 20px 0;
		position: relative;
		background-size: cover;
		overflow: hidden;
		display: table;
		
		.content-container{
			vertical-align: bottom;
			position: relative;
			display: table-cell;
			z-index: 1;
		}

		&:after{
			content: "";
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 250px;
			z-index: 0;
			background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 99%);
		}

		h1, p{
			margin-bottom: 10px;
		}

		h1,p, a, button{
			position: relative;
			display: inline-block;
			z-index: 5;
			max-width: auto;

		}

		h1{
			@include transform(translateX(-110%));
			opacity: 0;

		}

		p,a,button{
			opacity: 0;	
			color: white;
		}

		a,button{
		 margin-right: 10px;
		}
	}

	.feature, .secondary-feature{
		@include border-radius(4px);
	}

	.secondary-feature{
		overflow: hidden;
		&.one{
			background-color: #0A172C;
			height: 213px;
			.content-container{
				
			}

			.left-70{
				position: relative;
				opacity: 0;
				&:after{
					width: 1px;
				    height: 80%;
				    border-left: 1px dotted rgba(255,255,255,.5);
				    background-color: transparent;
				    display: block;
				    content: "";
				    position: absolute;
				    right: 20px;
				    top: 0;
				    margin: 0px 0;
				}


			}

			.right-30{
				opacity: 0;
				p{
					margin-top: 10px;
					letter-spacing: .8px;
					text-align: center;
				}


			}

			p{
				margin-bottom: 10px;

			}
			p.white{
				@include transform(translateX(-100%));
				opacity: 0;
			}

			h3{
				@include transform(translateX(-100%));
				opacity: 0;
			}

			ul li{
				margin: 0 0 10px 0;
				list-style-type: none;
				list-style-position: none;
				img{
					float: left;
					margin-right: 10px;
				}
			}

			.cta{
				width: 100%;
				padding: 11px 0;
			

				&.bg-blue{
					@include transform(translateY(100%));
					opacity: 0;
				}
			}
		}
		&.two{
			background-color: #D0E9FF;
			height: 188px;
			margin-top: 20px;

			h3{
				margin-top: 10px;
				@include transform(translateX(-100%));
				opacity: 0;
			}

			p{
				margin-bottom: 10px;
				@include transform(translateX(-100%));
				opacity: 0;
			}

			.cta{
				@include transform(translateY(100%));
				opacity: 0;
			}

			.right{
				background-repeat: no-repeat;
				background-size: 257px auto;
				height: 168px;
				background-position: -48px -26px;
				@include transform(translateX(100%));
				opacity: 0;
			}
		}

		&.three{
			
			height: 188px;
			margin-top: 20px;

			h3{
				margin-top: 10px;
				@include transform(translateX(-100%));
				opacity: 0;
			}

			p{
				margin-bottom: 10px;
				@include transform(translateX(-100%));
				opacity: 0;
			}

			.cta{
				@include transform(translateY(100%));
				opacity: 0;
			}

			.right{
				background-repeat: no-repeat;
				background-size: 257px auto;
				height: 168px;
				background-position: -48px -26px;
				@include transform(translateX(100%));
				opacity: 0;
			}

			.content-container{
				background-color: #D0E9FF;
				margin-left: 20px;
				@include border-radius(4px);
				overflow: hidden;
			}
		}

		.content-container{
			padding: 20px;
		}
	}

	.feature{
		opacity: 0;
	}

	.secondary-feature{
		opacity: 0;

		&.split{
			display: inline-block;
			width: 50%;
			margin: 20px -4px 0 0;

			.content-container{
				padding: 20px 0 0 20px;
			}
		}
	}




	
}

@media only screen and (max-width: 1380px){
	.secondary-feature.split{
		.fifty-col.left{
			width: 55%;
		}

		.fifty-col.right{
			width: 45%;
			background-size: 217px auto;
			    background-position: -50px -6px;
		}
	}
}

@media only screen and (max-width: 1100px){
	.secondary-feature.split{
		.fifty-col.left{
			
		}

		.fifty-col.right{
			width: 35%;
			background-size: 137px auto;
			    background-position: -28px -6px;
		}
	}
}


@media only screen and (max-width: 1020px){
	.lg-masthead{
		.fifty-col{
			width: 100%;

			.feature{
				margin: 0 0 20px 0px;

				a,button{
					margin-top: 10px;
				}
			}

			.secondary-feature{
				display: inline-block;
				margin: 0 -4px 20px 0;
				vertical-align: top;
				width: 50%;
				height: 310px;


				.fifty-col{
					
				}

				&.one{
					float: left;
					@include border-radius(4px 0 0 4px);

					h3{
						text-align: center;
					}

					.third-col{
						width: 100%;
						ul{
							padding-bottom: 20px;
						}

						&.left-70{
							&:after{
								width: 100%;
								height: 1px;
								border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
								/* background-color: white; */
								display: block;
								content: "";
								position: absolute;
								left: 0px;
								bottom: 15px;
								top: auto;
								right: auto;
								z-index: 100;
								margin: 0px 0;
							}
						}
					}

					p{
						margin: 7px;
					}

				}

				&.two{
					@include border-radius(0 4px 4px 0);

					.left{
						background-position: center -30px;
					}

					.right{
						text-align: center;
					}
				}

				&.split{
					height: 155px;
					clear: both;

					&.two{
						@include border-radius(0 4px 0 0);
						margin: 0 0 1px 0;
					}

					&.three{
						@include border-radius(0 0 4px 0);

						.content-container{
							margin: 0;
							@include border-radius(0px);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 630px){
	.lg-masthead{
		.fifty-col{
			width: 100%;

			

			.secondary-feature{
				width: 100%;
				height: auto;
				&.one, &.two{
					@include border-radius(4px);
				}

				&.split{
					
					

					&.two{
						@include border-radius(4px 4px 0 0);
						margin: 0 0 1px 0;
					}

					&.three{
						@include border-radius(0 0 4px 4px);

						.content-container{
							
							@include border-radius(0px);
						}
					}
				}
				
			}
		}
	}
	
}
.social-section{
	opacity: 0;
	background-color: white;

	.wrap{
		padding: 20px 20px 20px 0;
		position: relative;

		.content-container{
			padding: 20px;
			height: 184px;
			width: 100%;
			    overflow: hidden;
		}

	}

	.module{
		border: 1px solid rgba(0,0,0,.1);
		@include border-radius(4px 4px 0 0);
		margin-top:20px;
		width: 100%;
	}

	.announcements{
		position: relative;
		
		


		.wrap .content-container{
			padding: 20px 0 0 0;
			height: 204px;

			a{
				h4{
					padding: 0 20px;
				}
			}

			p{
				padding: 0 20px;
			}


		}

		
	}

	p{
		margin-top: 10px;
	}



	.social{
		.module{
			background-color: white;
			height: 224px;
			overflow-y: hidden;
		}

		.content-container{
				

		}

		.left{
			.wrap{
				padding: 20px 10px 20px 0px;


			}
		}

		.right{
			.wrap{
				padding: 20px 0px 20px 10px;
				.content-container{
					padding: 0px 0px 0 0px;
					height: 224px;
					background-color: #F6F7F9;
					position: relative;

					&:after{
						//content: "";
						position: absolute;
						top: 0;
						right: 0;
						display: block;		
						height: 100%;
						background-color: white;
						width: 16px;	
						z-index: 10;			
					}

					&:before{
						//content: "";
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						height: 100%;
						background-color: white;
						width: 16px;
						z-index: 10;
					}
					.fb-page{
						margin-top: -80px;
						width: 100%;
						

					}

					.fb_iframe_widget span{
						width: 100%!important;
					}
				}
			}
		}
	}

	.cta.bg-white{
		@include border-radius(0 0 4px 4px);
		border-left: 1px solid rgba(0,0,0,.1);
		border-right: 1px solid rgba(0,0,0,.1);
		border-bottom: 1px solid rgba(0,0,0,.1);
		width: 100%;
		padding: 0;
		height: 40px;
		line-height: 40px;
		
	}



}

@media only screen and (max-width: 990px){

 .social-section{

 	.wrap{
 		padding-right: 0px;
 	}
 	.fifty-col{
 		width: 100%;


 	}

 	.announcements .wrap .content-container,.announcements .wrap .content-container{
 		height: auto;
 	}

 	.social .module{
 		height: auto;
 	}

 	.social .fifty-col{
 		width: 50%;
 		margin: 0 -4px 0 0;

 		&.left{

 		}

 		&.right{
 			.wrap .content-container{
 				height: 280px;
 			}
 		}


 	}
 	.social{
		
 	}
 }

}

@media only screen and (max-width: 400px){
	.social-section{
		
		.social .module{
			height: auto;
		}

		.social .fifty-col{
			width: 100%;

			.wrap{
				padding: 0;
			}

			&.right{
				margin-top: 20px;
			}
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	.social-section .social{
	  	
		.fifty-col.left{
			.module{
				overflow-y: hidden;		
			}
		}
	  	
	  }
}

@supports (-ms-ime-align:auto) {
  .social-section .social{
  	
	.fifty-col.left{
		.module{
			overflow-y: hidden;		
		}
	}
  	
  }
}

#home-section-3{
	opacity: 0;
	
	

	.left{
		@include transform(translateX(-100%));
		@include transition(.4s all ease-in-out);
		opacity: 0;
		
	}

	.right{

		@include transform(translateX(100%));
		@include transition(.4s all ease-in-out);
	
		opacity: 0;
		h3,p,a{
			margin: 10px 0;
		}
	}

	.left, .right{
		margin-top: 60px;
		margin-bottom: 60px;

	}

	

	img{
		display: block;
		margin: 0 auto;
		max-width: 80%;
	}

	h1,h3,p{
		max-width: 760px;
		text-align: center;
		margin: 20px auto;
	}
}
@media only screen and (max-width: 1390px){
	#home-section-3{
		.quart-col .box{
			min-height: 150px;
		}
	}
}


@media only screen and (max-width: 700px){
	#home-section-3{
		.fifty-col{
			width: 100%;
			margin: 20px 0;
		
		}

	
	}
}

@media only screen and (max-width: 980px){
	#home-section-3{
		.quart-col{
			width: 50%;
			margin-bottom: 20px;
			min-height: 0px;
			&:nth-child(2n){
				.box{
					margin-right: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px){
	#home-section-3{
		.stats-container h1{
			font-size: 1.5em;
		}
	}
}

#home-section-4{
	padding-top: 0px;
	h1{
		margin: 0 auto 50px auto;
		max-width: 760px;
	} 

	ul{
		text-align: center;

		li{
			position: relative;
			
			

			&:first-child{
				z-index: 10;
				transform: translateX(90%)translateY(20px);
				@include transition(.3s all ease-in-out);
			}

			&:nth-child(2){
				z-index: 18;
			}

			&:last-child{
				z-index: 5;
				transform: translateX(-90%)translateY(40px);
				@include transition(.3s all ease-in-out);
			}
		}
	}

	.progress-module{
		

		.box{
			height: 100%;
		}

		h4{
			padding-top: 170px;
			background-repeat: no-repeat;
			background-size: auto 90px;
			background-position: center 40px;
		}

		.cta{
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 830px){
	#home-section-4{
		.third-col.all-33{
			width: 50%;

			&:nth-child(2n){
				.box{
					margin-right: 0px;
				}
			}

			&:last-child{
				margin-top: 20px;
			}
		}
	}
}

@media only screen and (max-width: 560px){
	#home-section-4{
		.third-col.all-33{
			width: 260px;
			display: block;
			margin: 0 auto 20px auto;

			&:nth-child(2n){
				.box{
					margin-right: 0px;
				}
			}

			&:last-child{
				margin-top: 0px;
			}


			&:first-child{
				.box{
					margin-right: 0px;
				}
				
			}
		}
	}
}


#home-section-5{
	border-top: 1px solid rgba(0,0,0,.1);
	background: url(/wp-content/themes/twia/assets/images/texas-bg.png) no-repeat transparent;
	background-size: cover;
	background-attachment: fixed;
	
	.callout{
		.right{
			 height: auto;
			 text-align: right;

			 img{
			 	max-height: 410px;
			 	@include border-radius(4px);
			 }
		}

		.left{
			@include transform(translateY(20%));
		}
	}

	.testimonial{
		margin-bottom: 60px;

		h2{
			margin-bottom: 60px;
			margin-top: 120px;
		}
		.content-container{
			padding: 0;
			height: 250px;
			margin-right: 20px;
			div{
				height: 100%;
			}

			.photo{
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}

		p{
			padding: 20px;
		}


	}

	.upcoming{
		
		.content-container{
			margin-right: 20px;
			margin-top: 60px;
		}
	}
	

	h3,p,a{
		margin: 10px 0;
		max-width: 760px;
	}
}

@media only screen and (max-width: 1060px){
	#home-section-5{
		.testimonial{
			.content-container{
				height: 300px;
			}
		}
	}
}

@media only screen and (max-width: 890px){
	#home-section-5{
		.testimonial{
			.content-container{
				height: auto;
				div{
					vertical-align: middle;

				}

				.left-30{
					height: 330px;
				}
			}
		}
	}
}

@media only screen and (max-width: 690px){
	#home-section-5{


		.fifty-col{
			width: 100%;
			
		}

		.callout{
			.fifty-col.left{
				@include transform(translateY(0));
			}

			.fifty-col.right{
				text-align: center;
				img{
					width: 100%;
				}
			}
		}
	}

	#home-section-5 .testimonial .content-container{
		margin-right: 0px;
	}

	#home-section-5 .upcoming .content-container{
		margin-right: 0px;
	}
}

@media only screen and (max-width: 580px){
	#home-section-5{
		.testimonial{
			.content-container{
				height: auto;
				div{
					vertical-align: middle;

				}

				.third-col{
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}



#agents-section-1{
	&.lg-masthead{
		.secondary-feature{
			&.one{
				background-color: $blue;

				.left{
					height: 214px;
					background-repeat: no-repeat;
					background-size: 230px auto;
					background-position: 0px 20px;
				}

				h3{
					margin: 40px 0 10px 0;
				}

				.cta{
					width: auto;
					padding: 13px 10px;
				}
			}

			&.two{
				.right{
					height: 214px;
					background-repeat: no-repeat;
					background-position: 10px 25px;
				}
			}
		}
	}
}
@media only screen and (max-width: 1020px){
	#agents-section-1.lg-masthead .secondary-feature.two .right{
		background-position: top center;

	}

	#agents-section-1.lg-masthead .secondary-feature.two .left{
		text-align: center;
		height: 110px;

	}

	#agents-section-1.lg-masthead .secondary-feature.one .right{
		
		text-align: center;

	}

	#agents-section-1.lg-masthead .secondary-feature.one .left{
		background-position: top center;
		background-size: 150px auto;
		height: 124px;

	}

	#agents-section-4{
		.fifty-col{
			width: 100%;
			
			&.left{
				.content-container.box{
					margin: 0 0 20px 0;
				}	
			}
			
		}
	}


}

#agents-section-3{
	.illustrated-steps-module{
		.quart-col{
			text-align: center;
			.content-container{
				min-height: 350px;

				h6{
					padding-top: 200px;
					    background-repeat: no-repeat;
					    background-size: auto 110px;
					    background-position: center 20px;
					    text-align: left;
					    line-height: 19px;
					
				}
			}

			&:nth-child(3){
				.content-container{
					h6{
						background-size: auto 110px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px){
	#agents-section-3{
		.illustrated-steps-module{
			.quart-col{
				width: 50%;
				margin-bottom: 20px;
				&:nth-child(even){
					.box{
						margin-right: 0px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 560px){
	#agents-section-3{
		.illustrated-steps-module{
			.quart-col{
				width: 100%;
				margin-bottom: 20px;
				.box{
				margin-right: 0px;	
				}
				
			}
		}
	}
}

#agents-section-3, #agents-section-5{
	padding: 120px 0;
	text-align: center;

	h1,h4, a{
		margin: 20px auto;
		max-width: 700px;
	}
}

#agents-section-4{

	.fifty-col.left{
		
		.content-container{
			margin-right: 20px;	
		}
	}
	.testimonial{
		height: 180px;
		margin-bottom: 20px;
		padding: 0;

		.left-30{
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% auto;
		}

		.right-70{
			height: inherit;
			.content-container{
				height: 100%;
				padding: 20px;
			}
		}
	}

	ul{
		
		li{
			
			list-style-position: inside;
			list-style-type: square;
			margin: 40px 0 40px 0;

			a{
				font-size: 1em;
				line-height: 1.5em;
				color: $dark-blue;
			}

		}
	}

	
}

@media only screen and (max-width: 580px){
	#agents-section-4 .testimonial{
		height: auto;
		.left-30{
				height: 300px;
			}
		} 
}

#agents-section-6{
	background-color:$dark-blue;
	.left, .right{

	}

	.left{
		

	}

	.right{
		background-size: cover;
		height: 400px;
		background-repeat: no-repeat;
	}

	.content-container{
		padding: 60px;
	}

	h1,h2,h4,a{
		
		max-width: 500px;
	}

	h4, a{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1020px){
	#agents-section-6{
		.left, .right{
			width: 100%;
		}
	}
}

/**#home-section-5{

	h1, p{
		max-width: 700px;
		margin: 20px auto;

	}

	.left{
		height: 400px;
		background-image: url('/wp-content/themes/twia/assets/images/housing.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center center;
	}
}

@media only screen and (max-width: 650px){
	#home-section-5{
		.left, .right{
			width: 100%;
		}

		.left{
			background-position: bottom center;
			height: 200px;
		}
	}
}**/





.sm-masthead{
	padding: 60px 0;
	text-align: left;
	background-size: cover;
	background-color: $dark-blue;
	background-position: center center;
	position: relative;
	&:after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		z-index: 0;
		bottom: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.00) 90%);
	}

	&.plain{
		background-color: white;
		border-bottom: 1px solid rgba(0,0,0,.1);
		&:after{
			display: none;
		}
	}

	.inner{
		position: relative;
		z-index: 1;
	}
}

.cover-masthead{
	height: 50vh;
	text-align: left;
	background-size: cover;
	background-color: $dark-blue;
	background-position: center center;
	position: relative;

	.inner{
		background-color: transparent;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}
	
	.container{
		text-align: center;
		padding: 40px;
		background-color: transparent;
		h1,h2, a{
			
		}

		h1{
			margin: 20px 0;
		}
	}
	

	.inner{
		position: relative;
		z-index: 1;
	}

	&:after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		z-index: 0;
		bottom: 0;
		width: 100%;
		height: 50vh;
		background: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.00) 90%);
	}
}

#wind-section-2{

	.fifty-col.left{
		position: relative;

	}
	.fifty-col:last-child{
		.wrap.box{
			margin-left: 20px;
		}
	}
	
	.split{
		position: relative;
		&:after{
			width: 1px;
			height: 100%;
			display: block;
			content: "";
			position: absolute;
			top: 0;
			margin-right: 20px;
			right: 50%;
			background-color: rgba(0,0,0,.1);
		}
	}

	.fifty-col{
		.content-container{
			clear: both;
		}
	}
	
	.intro{
		font-size: 1.25em;
		padding: 40px 0;
		max-width: 960px;
	}

	.left-30{
		height: 120px;
		width: 120px;
		padding: 0;
		float: left;
		margin: 0 20px 20px 0;
		

		.box{
		


		}

		.image-container{
			background-size: cover;
			width: 100px;
			padding: 0;
			margin: 10px;
			height: 100px;
			background-position: center center;
		}
	}

	.right-70{
		display: inline;
			

		h4{
			margin-bottom: 20px;
			margin-right: 40px;
		}

		a{
			margin-bottom: 20px;
		}
	}

	.h4, p, ul{
		margin-right: 40px;


	}

	ul{
		
	li{
		
		list-style-position: inside;
		list-style-type: square;
		margin: 10px 0 10px 0;

		a{
			font-size: 1em;
			line-height: 1.5em;
			color: $dark-blue;
		}

	}
}
}

@media only screen and (max-width: 900px){
	#wind-section-2{
		.fifty-col{
			width: 100%;
			padding-bottom: 20px;

			.wrap.box{
				margin: 20px 0;
			}

			&:last-child{
				.wrap.box{
					margin-left: 0px;
				}
			}
		}

		.split{
			
			&:after{
				
				display: none;
				
			}
		}
	}
}

@media only screen and (max-width: 480px){
	#wind-section-2{
		.fifty-col{
			width: 100%;
			padding-bottom: 20px;
			text-align: center;
			.right-70{
				h4{
					margin-right: 0px;
				}
			}

			.left-30{
				margin-right: 0px;
			}

			p{
				margin-right: 0px;
			}
	
			.third-col.left-30{
				float: none;
			}
		}


		
	}
}

body.page-template-windstorm section.secondary{
	.fifty-col{
		padding: 60px 0;

		p{
			font-size: 1.25em;
		}
	}
}

@media only screen and (max-width: 600px){
	body.page-template-windstorm section.secondary{
		.fifty-col{
			&.left{
				padding: 60px 0 0 0px;
			}

			&.right{
				padding-top: 20px;
			}
			width: 100%;
		}
	}
}



body.page-template-about, body.page-template-claims-center, body.page-template-wpi-3-application{
	

	#main{
		background: url(/wp-content/themes/twia/assets/images/texas-bg.png) no-repeat white scroll;
	    background-attachment: fixed;
	    background-position: top left;
	    background-size: cover;
	}
	section .wrap{
		padding-left: 300px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.inner{
		position: relative;
	}
	
	.cta{
		margin: 20px 0;
	}

	h2{
		margin: 0 0 20px 0;
	}

	.wp-contents{
		position: relative;
	}

}

body.page-template-wpi-3-application{
	.site-content{
		background: url(/wp-content/themes/twia/assets/images/texas-bg.png) no-repeat white scroll;
	    background-attachment: fixed;
	    background-position: top left;
	    background-size: cover;

	    #main{
	    	background-color: white;
	    	padding-bottom: 800px;
	    }
	}

	.divider{
		padding-top: 30px;
		display: block;
		position: relative;
		width: 100%;
	}

	h1{

	}

	#wpi3-section-1{
		padding: 60px 0;
		background-color: white;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}


}

body.wpi3-success{
	#wpi3-section-1{
		display: none;
	}

	aside.left-side-nav{
		display: none;
	}

	section .wrap{
		padding-left: 0px;
	}

	table{
		margin-top: 40px;
		background-color: transparent;
	}
}

@media only screen and (max-width: 900px){
	body.page-template-wpi-3-application{
		section .wrap{
			padding-left: 0px;
		}
	}
}


aside.left-side-nav{
	width: 310px;
	position: absolute;
	right: 50%;
	@include transform(translateX(50%));
	margin-right: 570px;
	top: 40px;
	z-index: 16;

	.cta{
		margin: 0;
		width: 100%;
		padding: 13px 0;
		@include border-radius(0px);
	}


	&.sticky{
		position: fixed;
		
		top: 40px;
		

		&.withmenu{
			
			@include transition(.3s transform ease-in-out);
		
		}
	}

	.container{
		margin-right: 40px;
		padding: 0;

		button{
			height: auto;
			width: 100%;
			text-align: left;
			padding: 10px;
			line-height: 14px;
			background: none;
			cursor: pointer;
			color: rgba(0,0,0,.7);
			font-family: $proximareg;
			font-size: .875em;
			border: none;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		ul li{
			position: relative;
			&:last-child{
				button{
					border: none;					
				}

			}

			&.active{
				button{
					font-family: $proximabold;
					color: rgba(0,0,0,1);
				}

				&:after{
					content: "";
					display: block;
					width: 3px;
					height: 100%;
					background-color: $gold;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}




@media only screen and (max-width: 1480px){
	aside.left-side-nav{
		@include transform(translateX(0));
		margin-right: 0px;
		right: auto;
		left: 20px;
	}
}

@media only screen and (max-width: 900px){
	aside.left-side-nav{
		display: none;
	}

	body.page-template-claims-center section .wrap{
		padding-left: 20px;
		padding-right: 20px;
	}
}



.content-selector-module{
	.links{

		ul{
			margin: 20px 0 20px 0;
		}
		li.active button{
			background-color: $blue;
			color: white;
			
		}
		
		li{
			display: inline-block;
		}

		li button{
			border: 1px solid rgba(0,0,0,.1);
			color: $black;
			margin: 0 10px 10px 0;
			display: inline-block;
			@include transition-delay(0s);
			@include transition(0s all ease-in-out);
		}
	}

	.content{
		padding: 0px;
		overflow: hidden;
		li{
			

			


			&.parent{
				display: none;

				&.active{
					display: table;

					.fifty-col{
						display: table-cell;
						position: relative;

						iframe{
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
						}
					}
				}
			}
		}
	}

	.fifty-col{
		&.left{
			min-height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;


		}

		&.right{
			.content-container{
				padding: 20px;


			}

			h3{
				margin-bottom: 20px;
			}

			ul li{
				margin: 10px 0 10px 0;
				list-style-type: square;
				list-style-position: inside;
				
			}

			p{
				margin-top: 20px;
			}
		}
	}

	
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.content-selector-module .content{
		li.parent.active{
			.fifty-col{
				&.left{
					min-height: 0px;
				}
				iframe{
					position: relative;
					width: 100%;
					height: 400px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px){
	.content-selector-module{
		.fifty-col{
			
			&.left{
				min-height: 200px;
				width: 100%;
			}

			&.right{
				width: 100%;
			}
		}
	}

	.content-selector-module .content li.parent.active .fifty-col{
		display: block;
	}
}

@media only screen and (max-width: 900px){
	body.page-template-about section .wrap{
		padding-left: 0px;
	}

	body.page-template-about{
		.third-col{
			width: 100%;
			
			.box{
				margin-right: 0px;	
			}
		}

		.fifty-col{
			width: 100%;
			
			.box,.content-container{
				margin-right: 0px;	
			}
		}

		#media-resources, #board-meetings, #community-outreach{
			.fifty-col{
				width: 100%;
				
				.box,.content-container{
					margin-right: 0px;
					
				}
			}
		}



		
	}


}
@media only screen and (max-width: 600px){

	body.page-template-about{
		.expandible-module li.tier-2{
			width: 100%;

			.content-container{
				margin-right: 0px;
			}
		}
	}
	
}

#board-meetings{
	.cta.bg-white{
		border: 1px solid rgba(0,0,0,.1);
	}

	hr{
		margin: 40px 0;
	}

	.fifty-col .content-container{
		min-height: 120px;
	}

	.left .content-container{
		margin-right: 20px;
	}
}

#about-section-6{


	.third-col{
		margin: 0 0 20px 0;
	}
	.third-col .content-container{
		min-height: 80px;

		a{
			margin: 20px 0 0 0;
		}

		p{
			margin: 10px 0;
			strong{
				margin: 0 10px 0 0;
			}
		}

	}
}

@media only screen and (max-width: 800px){
	#about-section-6{
		.third-col{
			width: 100%;

			.content-container{
				margin: 0;
			}
		}
	}
}

#media-resources,#community-outreach{
	.fifty-col{
		margin: 0 -4px 20px 0;
		.content-container{
			min-height: 100px;
			margin-right: 20px;
		}
	}
}

@media only screen and (max-width: 800px){
	#about-section-7{
		.fifty-col{
			

			.content-container{
				
				min-height: 200px;
			}
		}
	}
}

#about-section-8{
	hr{
		margin: 60px 0;
	}
}


.expandible-module{
	li.tier-1{
		@include border-radius(4px);
		/* Rectangle 7 Copy: */
		background: #FFFFFF;
		border: 1px solid rgba(151,151,151,0.35);
		@include box-shadow(0 0 13px 0 rgba(0,0,0,0.05));
		padding: 14px;
		margin: 0 0 20px 0;
		cursor: pointer;
		position: relative;
		color: rgba(0,0,0,.5);
		&:after{	
			content: "";
		    display: block;
		    position: absolute;
		    right: 20px;
		    top: 18px;
		    width: 15px;
		    height: 15px;
		    background: url(/wp-content/themes/twia/assets/images/open.svg) no-repeat transparent scroll;
		    background-size: 100% auto;
		    background-position: center center;
		}

		&.active{
			color: rgba(0,0,0,1);
			&:after{
				background: url(/wp-content/themes/twia/assets/images/close-x.svg) no-repeat transparent scroll;
				background-size: 100% auto;
				background-position: center center;
			}

		}	
	}

	ul.tier-2{
		display: none;

		&.active{
			display: block;
		}
	}

	li.tier-2{
		margin: 10px -4px 10px 0;

		.content-container{
			margin-right: 20px;
			height: 160px;
			text-align: center;
			a{
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				font-size: 1em;
				color: #c1aa85;
				line-height: 19px;
				letter-spacing: 0px;
				padding-top: 70px;
				margin-top: 40px;
				background-image: url(/wp-content/themes/twia/assets/images/pdf-icn.png);		
				background-repeat: no-repeat;
				background-position: top center;
			}
		}

		&.horizontal{
			display: inline;

			h6{
				display: inline-block;
			}
		}

		&.doc{
			.content-container{
				a{
					
				}
			}
			
		}

		&.link{
			.content-container{
				a{
					
				}
			}
			
		}
	}

	ul.tier-3{
		display: inline-block;
	}

	li.tier-3{
		
	}
}

@media only screen and (max-width: 1100px){
	.expandible-module{
		li.tier-2{
			width: 50%;
		}
	}
}


body.page-template-claims-center{
	section{ 
		padding: 0 0 120px 0;
		ul li{
			margin: 10px 0 10px 0;
			list-style-type: square;
			list-style-position: inside;
			
		}
		h6,p,li{
			margin: 10px 0 10px 0;
			max-width: 700px;

		}

		&:last-child{
			padding-bottom: 300px;
		}

		
	}
}

#claims-center-section-1{
	padding: 60px 0;
}



#claims-center-section-2{
	padding-top: 0px;
	h6{
		display: block;
		background-repeat: no-repeat;
		background-size: 158px auto;
		padding-bottom: 140px;
		background-position: center;
	}

	h3{
		margin: 0 0 20px 0;
	}

	h4{
		margin: 0px 0;
	}


	.third-col{
		text-align: center;

	}

	.cta{
		margin: 0 0 0px 0;
	}

	.third-col{
		&:last-child{
			.content-container{
				margin-right: 20px;
			}
		}

		.content-container{
			min-height: 230px;
		}
	}
}

@media only screen and (max-width: 960px){
	#claims-center-section-4 .third-col, #claims-center-section-5 .third-col, #claims-center-section-6 .third-col, #claims-center-section-7 .third-col{
		width: 50%;

		&:nth-child(even){
			.box{
				
			}
		}


		
	}
	#claims-center-section-4, #claims-center-section-5, #claims-center-section-6{
		.third-col.all-33 .box{
			margin: 0 0 20px 0;
		}


		.third-col.all-33:nth-child(even){
			.box{
				margin-left: 20px;
			}
		}	
	}

	
}

@media only screen and (max-width: 710px){
	#claims-center-section-2{
		.third-col{
			width: 100%;
			.box{
				margin: 0 0 20px 0!important;
			}
		}
	}

	#claims-center-section-4 .third-col, #claims-center-section-5 .third-col, #claims-center-section-6 .third-col, #claims-center-section-7 .third-col{
		width: 100%;
		.box{
			margin: 0 0 20px 0!important;
		}
	}
}


#claims-center-section-4, #claims-center-section-5, #claims-center-section-6, #claims-center-section-7{
	.resources-module{
		margin-top: 40px;
	}
	.third-col{
		text-align: center;
		margin: 0 -4px 20px 0;
		&:last-child{
			.content-container{
				margin-right: 20px;
			}
		}

		.thumbnail{
			height: 200px;
			background-size: cover;
		}
		a{
			text-decoration: none;
			color: $dark-blue;
			font-size: 1em;
		}

		h6{
			margin: 20px 0 0 0;
		}
	}
}

@media only screen and (max-width: 900px){
	#claims-center-section-7{
		.left-70{
			width: 100%;
		}

		.right-30{
			width: 100%;
			margin: 40px 0 0 0;
		}
	}
}





#training-center-section-1{
	padding-top: 0px;
	position: relative;
	h6{
		display: block;
		background-repeat: no-repeat;
		background-size: 158px auto;
		padding-bottom: 140px;
		background-position: center;
	}

	h3{
		margin: 60px 0 20px 0;
	}

	h4{
		margin: 0px 0;
	}

	h1{
		margin-top: 60px;
	}

	.wrap{
		position: relative;
	}


	.third-col{
		text-align: center;

	}

	.cta{
		margin: 0 0 0px 0;
	}
	.illustrated-steps-module{
		text-align: center;
	}
	.third-col{

		&:last-child{
			.content-container{
				margin-right: 0px;
			}
		}



		.content-container{
			min-height: 100px;
			margin: 0 10px;
		}
	}

	hr{
		margin: 80px 0;
	}

	.cta-container{
		text-align: center;
		position: absolute;
		left: 50%;
		bottom: -36px;
		transform: translateX(-50%);
		background-color: white;
		padding: 20px;

		.cta{
			width: 120px;
		}

		.cta:first-child{
			margin-right: 20px;
		}
	}
}

@media only screen and (max-width: 800px){
	#training-center-section-1 .third-col{
		width: 100%;
		.box{
			margin: 0 0 20px 0;
		}
	}

	#training-center-section-2 .third-col{
		width: 50%;
		margin: 0 -4px 0 0!important;

		.content-container{
			margin-right: 0px!important;
			padding: 0 60px 0 0;
		}
	}
}

@media only screen and (max-width: 500px){
	#training-center-section-2 .third-col{
		width: 100%;
		margin: 0 -4px 20px 0!important;

		.content-container{
			margin-right: 0px!important;
			padding: 0 0px 0 0;
		}
	}
}


#training-center-section-2{
	.contents{
		margin-top: 60px;
	}
	.third-col{
		margin: 0 0 40px 0;
		.content-container{
			margin-right: 40px;
		}

		&:nth-child(3n){

			.content-container{
				margin-right: 0px;
				background-color: transparent;
			}
		}
		ul li{
			margin: 10px 0 10px 0;
			list-style-type: square;
			list-style-position: inside;
			padding-left: 20px;
			text-indent: -20px;
			a{
				color: $dark-blue;
				text-decoration: none;
			}	
		}
		
	}
}



aside.right-side-nav{
	width: 310px;
	position: absolute;
	right: 50%;
	@include transform(translateX(50%));
	margin-right: -605px;
	top: 40px;
	z-index: 16;

	.cta{
		margin: 5px auto;
		width: 100%;
		padding: 13px 0px;
		@include border-radius(4px);

	}


	&.sticky{
		position: fixed;
		
		top: 40px;
		

		&.withmenu{
			
			@include transition(.3s transform ease-in-out);
		
		}
	}

	.container{
		margin-left: 40px;
		padding: 20px;

		button{
			height: 40px;
			width: 100%;
			text-align: left;
			text-indent: 10px;
			line-height: 40px;
			background: none;
			cursor: pointer;
			color: rgba(0,0,0,.7);
			font-family: $proximareg;
			font-size: .875em;
			border: none;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		ul li{
			margin: 10px 0 10px 0;
			list-style-type: square;
			list-style-position: inside;
			a{
				color: $dark-blue;
				text-decoration: none;
				font-size: 1em;
			}	
		}

		ul li{
			position: relative;
			word-wrap: break-word;

			&:last-child{
				button{
					border: none;					
				}

			}

			&.active{
				button{
					font-family: $proximabold;
					color: rgba(0,0,0,1);
				}

				&:after{
					content: "";
					display: block;
					width: 3px;
					height: 100%;
					background-color: $gold;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 1480px){
	aside.right-side-nav{
		@include transform(translateX(0));
		margin-right: 0px;
		left: auto;
		right: 20px;
	}
}

@media only screen and (max-width: 900px){
	aside.right-side-nav{
		display: none;
	}

	body.page-template-wpi section .wrap{
		padding-left: 20px;
		padding-right: 20px;
	}
}



body.page-template-wpi-8, body.page-template-wpi-8-c{
	.wp-contents{
		position: relative;
	}

	section .wrap{
		padding-right: 300px;
		padding-top: 40px;
		padding-bottom: 40px;

		ul li{
			margin: 10px 0 10px 20px;
			list-style-type: square;
			list-style-position: inside;
			text-indent: -1em;
			padding-left: 1em;
			a{
				color: $dark-blue;
				text-decoration: none;
				font-size: 1em;
			}	
		}

		.content-container{
			
		}
	}

	.media-rotator{
		.slick-track{
			height: 300px;
		}
	}
}

body.page-template-wpi-8-c{
	
}
@media only screen and (max-width: 1090px){
	body.page-template-wpi-8{
		

		.right-side-nav{
			width: 100%;
			position: relative;
			left: 0;
			top: 0;

			display: block;

			.container{
				margin: 20px;
			}
			&.sticky{
				position: relative;
				left: 0;
				top: 0;
			}
		}

		section .wrap{
			padding-right: 0px;
		}

		.quart-col{
			width: 50%;
			&:nth-child(even){
				.box{
					margin-left: 0px;
					margin-right: 0px;
				}
			}
			.box{
				margin-bottom: 20px;
			}
		}

		.fifty-col{
			width: 100%;
			margin-right: 0px;
		}

	}

}

@media only screen and (max-width: 480px){
	body.page-template-wpi-8{
		.quart-col{
			width: 100%;

			.box{
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}
	
}	

#wpi-section-1{
	.illustrated-steps-module{
		margin-top: 40px;
	}
	.quart-col{
		text-align: center;
		.content-container{
			min-height: 280px;

			h6{
				padding-bottom: 200px;
				    background-repeat: no-repeat;
				    background-size: 210px auto;
				    background-position: center center;
				
			}
		}
	}
}

#wpi-section-2{
	.fifty-col.left{
		.content-container{
			margin-right: 40px;
		}
	}

	.third-col.left-70{
		.content-container{
			margin-right: 40px;
		}
	}
}

#wpi-section-3{
	.third-col.left-30{
		.content-container{
			padding-right: 20px;
			border-right: 1px solid rgba(0,0,0,.1);
		}
	}

	.third-col.right-70{
		.content-container{
			h3, p{
				padding: 0 20px;
			}
		}
	}
}

@media only screen and (max-width: 1150px){
	#wpi-section-1{
		.quart-col{
			margin-bottom: 20px;
			&:nth-child(even){
				.box{
					margin-right: 0px;
				}
			}
			width: 50%;
		}
	}
}

@media only screen and (max-width: 960px){
	aside.right-side-nav{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		display: block!important;
		.box{
			margin: 20px 20px 0 20px;
		}

		&.sticky{
			position: relative;
			top: 0px;
			left: 0px;
			width: 100%;

		}
	}

	body.page-template-wpi-8 section .wrap, body.page-template-wpi-8-c section .wrap{
		padding-right: 0px;
	}
}

@media only screen and (max-width: 800px){
	.fifty-col{
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 580px){
	.third-col{
		width: 100%;

		&.left-30, &.right-70{
			width: 100%;
			border: none;
		}

		&.left-30{
			border-bottom: 1px solid rgba(0,0,0,.1);
			margin-bottom: 20px;
			padding-bottom: 20px;
			.content-container{
				border-right: none!important;
			}
		}

		&.right-70{
			hr{
				display: none;
			}
		}
	}

	#wpi-section-3 .third-col.right-70 .content-container h3, #wpi-section-3 .third-col.right-70 .content-container p{
		padding: 0;
	}
}

@media only screen and (max-width: 510px){
	#wpi-section-1{
		.quart-col{
			width: 100%;
			
			.box{
				margin-right: 0px;
			}
		}
	}
}


body.post-type-archive-find_agent{
	.search-filter-scroll-loading{
		margin: 10px auto;
	}
	#main h1{
		padding-top: 60px;
	}

	#main p{
		max-width: 700px;
		padding: 20px 0 10px 0;
	}

	#main h4{
		margin: 10px 0;
	}
	.searchandfilter ul li{
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 0 0;

		&.active-result{
			margin: 0;
			font-family: $proximabold;
			font-size: .85em;
		}

		&.highlighted{
			background-color: $gold;
			@include border-radius(4px);
			background-image: none;
		}
	}

	.chosen-container-single .chosen-single span{
		float: left;
		padding: 12px 30px 0px 0px;
		margin: 0;
	}

	input[type=text]{
		width: 100px;
		height: 30px;
		margin: 6px 0;

		
	}

	.chosen-container{
		background-color: $dark-blue;
		@include border-radius(4px);
		min-width: 200px;


	}

	#main .box{
		margin: 0 0 20px 0;

		h4{
			margin: 0 0 10px 0;
		}

		h6{
			margin-bottom: 10px;
		}
	}

	.chosen-container.chosen-with-drop .chosen-drop{
		width: 100%;
		top: 42px;
	}

	.chosen-container-active.chosen-with-drop .chosen-single div b{
		background: url(/wp-content/themes/twia/assets/images/up-chevron.svg) no-repeat transparent scroll;
		background-position: center center;
		@include transform(rotate(180deg));
		@include transform-origin(center, center);
		@include transition(.2s all ease-in-out);
	}

	.chosen-container-active.chosen-with-drop .chosen-single div{
		width: 34px;
	}

	.chosen-container-single .chosen-single div{
		width: 34px;
	}

	.chosen-search-input{
		width: 100%;
	}

	.chosen-container-single .chosen-single{
		line-height: 18px;
		color: white;
		background: none;
		border: none;
		@include box-shadow(none);
		font-size: .75em;
		letter-spacing: 1px;
		text-transform: uppercase;
		height: 42px;

		input[type=text]{
			

			&.chosen-search-input{
				border: 1px solid rgba(255,255,255,.3);
				color: white;
				display: none;	
			}
		}

		div b{
			background: url(/wp-content/themes/twia/assets/images/down-chevron.svg) no-repeat transparent scroll!important;
			background-position: center center!important;
			@include transition(.2s all ease-in-out);
			@include transform-origin(center, center);
		}
	}


	li.sf-field-post-meta-state{
		.chosen-container{
			width: auto!important;
		}

		.chosen-single input[type=text]{
			width: 37px;
			height: 30px;
			margin: 6px 20px 6px 0;
		}

		.chosen-search-input{
			width: 100%;
		}
	}

	li.sf-field-post-meta-city{
		.chosen-container{
			width: auto!important;
		}

		.chosen-single input[type=text]{
			width: 155px;
			height: 30px;
			margin: 6px 20px 6px 0;
		}

		.chosen-search-input{
			width: 100%;
		}
	}

	li.sf-field-post-meta-zipcode{
		.chosen-container{
			width: auto!important;
		}

		.chosen-single input[type=text]{
			width: 96px;
			height: 30px;
			margin: 6px 20px 6px 0;
		}

		.chosen-search-input{
			width: 100%;
		}
	}

	li.sf-field-reset{
		a{
			display: inline-block;
			height: auto;
			outline: none;
			border: none;
			vertical-align: top;
			cursor: pointer;
			padding: 11px 20px;
			background-color: $blue;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-size: .75em;
			
			letter-spacing: 1px;
			@include border-radius(4px);
			text-decoration: none;
			overflow: hidden;
			position: relative;
				
			&:after{
				content: "";
				display: block;
				pointer-events: none;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba(0,0,0,.2);
				@include transform(translateY(100%));
				@include transition(.2s all ease-in-out);

			}	

			
		}
	}

	li.sf-field-search{
		width: 100%;

		label, input{
			width: inherit;
		}

		input{
			height: 40px;
		}
	}

	li.sf-field-submit{
		input{
			display: inline-block;
			height: auto;
			outline: none;
			border: none;
			vertical-align: top;
			cursor: pointer;
			padding: 14px 20px;
			background-color: $gold;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-size: .75em;
			
			letter-spacing: 1px;
			@include border-radius(4px);
			text-decoration: none;
			overflow: hidden;
			position: relative;
				
			&:after{
				content: "";
				display: block;
				pointer-events: none;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba(0,0,0,.2);
				@include transform(translateY(100%));
				@include transition(.2s all ease-in-out);

			}	

			&:hover{
				&:after{
					@include transform(translateY(91%));
					@include transition(.2s all ease-in-out);
				}
			}

			&.bg-white:after{			
					background-color: rgba(0,0,0,.1);
			}
		}
	}
}

body.single-find_agent{
	section{
		padding: 40px 0;
	}
	.profile-image-container{
		height: 300px;
		width: 100%;
		background-color: rgba(0,0,0,.1);
		@include border-radius(4px);


	}

	.right-70{
		.content-container{
			padding: 60px;
		}

		p{
			font-size: 1rem;
		}

		h6{
			font-size: 1.4em;
			margin: 20px 0;
		}
	}

	.entry-title{
		margin: 20px 0 0 0;
	}


}

.acf-map {
    width: 100%;
    height: 300px;
    border: #ccc solid 1px;
    margin: 20px 0;
}


body.page-template-contact{
	.nav-rich-bar{
		
	}

	.site-content-contain{
		
		

	}

	header{
		height: 96px;
	}
}

#contact-section-1{
	padding: 20px 0 20px 0;
	background: url(/wp-content/themes/twia/assets/images/texas-bg.png) no-repeat white scroll;
	background-attachment: fixed;
	background-position: top left;
	background-size: cover;
	.gform_wrapper li .gfield_description.validation_message{
	   display: none
	 }

	 .gfield_error{
	   background-color: transparent;
	 }

	aside{
		h4{
			font-size: .85rem;
		}

		h4 a{
			font-size: inherit;
			color: $blue;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.gform_wrapper{
		.gfield_visibility_visible, .gform_wrapper .gfield_visibility_{
			padding: 0;
		}
		li{
			display: inline-block;
			width: 50%;

			.ginput_container{
				margin-left: 20px;
			}

			&.contact_message{
				width: 100%;

				.ginput_container{
					margin-left: 0px;
				}
			}

			&.gfield_html{
				width: 100%;
			}

			&.gform_validation_container{
			  display: none;
			}

			&:nth-child(odd){
			  .ginput_container{
			    margin-right: 20px;
			  }
			}

		}

		.gfield_contains_required .gfield_label{
			position: absolute;
			left: 0;
			top: 10px;
			visibility: hidden;

			.gfield_required{
			  color: $red;

			      position: absolute;
			      visibility: visible;
			      left: 8px;
			}
		}
	}

}


@media only screen and (max-width: 700px){
	#contact-section-1{
		.left-70,.right-30{
			margin: 0;
			width: 100%;
		}

		.right-30{
			margin-top: 40px;
			.inner{
				padding: 0;
				
			}
		}


	}
}

body{
	&.blog, &.tag, &.category, &.page-template-custom-category{
		.box{
			margin: 20px 0;

			a{
				text-decoration: none;
			}
		}
	}
}

#category-content{
	

	.inner{

	}

	.box{
		
	}

	aside.right-side-nav{
		position: relative;
		top: auto;
		display: inline-block;
		width: 30%;
		margin: 0 -4px 0 0;
		vertical-align: top;
		@include transform(none);
		right: auto;

		.container{
			margin-left: 20px;
		}


	}

	.img-container{
		background-size: cover;
		background-position: center center;
		min-height: 240px;
		width: 100%;
		@include border-radius(4px);
		margin: 10px 0;
	}

	.content-container{
		width: 70%;
		display: inline-block;
		margin: 0px -4px 0 0;
		vertical-align: left;

		&.full{
			width: 100%;
		}


	}


}

@media only screen and (max-width: 1200px){
	body.page-template-custom-category .content-container .searchandfilter ul > li.sf-field-search{
		width: 190px!important;
		
	}
}


 @media only screen and (max-width: 1080px){
 	#category-content{
		.content-container{
			width: 100%;
		}

 		aside.right-side-nav{
			width: 100%;

			.box{
				margin-left: 0;
				margin-top: 0;
			}
 		}	
 	}

 	body.page-template-custom-category .content-container .searchandfilter ul{
 		padding: 0 20px!important;

 		li ul{
 			padding: 0!important;
 		}
 	}

 	
 }


 @media only screen and (max-width: 730px){
 	body.page-template-custom-category .content-container .searchandfilter ul > li.sf-field-search{
 		
 		//margin-left: 20px;
 		display: inline-block;
 		width: 100%!important;
 	}


 }

 @media only screen and (max-width: 560px){
 	body.page-template-custom-category .content-container .searchandfilter ul > li.sf-field-post_date{
 		width: 100%!important;
 	}

 	body.page-template-custom-category .content-container .searchandfilter ul > li ul li{
 		display: block;
 		width: 100%!important;
 		margin: 0 0 10px 0!important;

 		label{
 			width: 100%!important;
 		}
 	}

 	body.page-template-custom-category .content-container .searchandfilter{
 		//border: none!important;
 	}
 }


body.page-template-custom-category{
	.content-container .searchandfilter{
		border: 1px solid rgba(0,0,0,.1);
		@include border-radius(4px);
		margin-top: 20px;

		ul{
			padding: 0px;

			> li{
				display: inline-block;
				margin: 0 -4px 0 0;
				
				vertical-align: top;

				&.sf-field-post_date{
					width: 370px;
				}

			&.sf-field-reset{
				text-align: right;
			}

			&.sf-field-search{
				width: 300px;
				margin-right: 20px;
				label{
					width: 100%;
				}

				input[type=text]{
					width: 100%;
				}
			}

				&.sf-field-reset a{
					font-family: $proximabold;
					font-size: .875rem;
					line-height: 1.4em;
					color: $white;
					background-color: $blue;
				
					display: inline-block;
					height: auto;
					outline: none;
					border: none;
					vertical-align: top;
					cursor: pointer;
					padding: 11px 20px;
					text-align: center;
					text-transform: uppercase;
					font-size: .75em;
					
					letter-spacing: 1px;
					@include border-radius(4px);
					text-decoration: none;
					overflow: hidden;
					position: relative;
						
					&:after{
						content: "";
						display: block;
						pointer-events: none;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background-color: rgba(0,0,0,.2);
						@include transform(translateY(100%));
						@include transition(.2s all ease-in-out);

					}	

					&:hover{
						&:after{
							@include transform(translateY(91%));
							@include transition(.2s all ease-in-out);
						}
					}

					&.bg-white:after{			
							background-color: rgba(0,0,0,.1);
					}


					
				}

				ul li{
					width: 50%;
					margin: 0 -4px 0 0;
					padding: 0;
					vertical-align: top;



					textarea, input[type=text]{
						width: 100%;
					}
				}

				label{
					display: inline-block;
					margin: 0 -4px 0 0;
					padding: 0;
					width: 60%;
				}

				span{
					font-family: $proximabold;
					display: inline;
					margin: 0 10px;

				}
			}
		}
		
	}
}



.pagination-links{
	text-align: center;
	margin: 20px 0;
	position: relative;
	> *{
		@include border-radius(4px);
		display: inline-block;
		/* Rectangle 7 Copy: */
		background: #FFFFFF;
		border: 1px solid rgba(151,151,151,0.35);
		@include box-shadow(0 0 13px 0 rgba(0,0,0,0.05));
		padding: 5px 10px;
	}

	a{
		text-decoration: none;
	}

	.current{
		font-family: $proximabold;

	}

	.prev, .next{
		position: absolute;
		
		top: 0px;
	}
	
	.prev{
		left: 0px;
	}
	
	.next{
		right: 0px;
	}
}

#search-listing-container{
	h4{
		margin: 20px 0;
	}
}



.br-theme-bars-pill {

  .br-widget {
    white-space: nowrap;

    a {
      padding: 7px 15px;
      background-color: $offwhite;
      color: $charcoal;
      text-decoration: none;
      font-size: 13px;
      line-height: 3;
      text-align: center;
      font-weight: 400;
      border-right: 4px solid white;

      &:first-child {
        -webkit-border-top-left-radius: 999px;
        -webkit-border-bottom-left-radius: 999px;
        -moz-border-radius-topleft: 999px;
        -moz-border-radius-bottomleft: 999px;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
      }

      &:last-child {
        -webkit-border-top-right-radius: 999px;
        -webkit-border-bottom-right-radius: 999px;
        -moz-border-radius-topright: 999px;
        -moz-border-radius-bottomright: 999px;
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
        border: none;
      }

      &.br-active,
      &.br-selected {
		background-color: $red;
        color: white;
      }
    }
  }

  .br-readonly {
    a {
      cursor: default;

      &.br-active, &.br-selected {
        
      }
    }
  }

}

.alert-container{
	
	pointer-events: none;
	
	
	position: absolute;
	z-index: 30;
	left: 0;
	top: 0;
	
	height: 100%;
	width: 100%;

	&:after{
		position: absolute;
		pointer-events: none;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		@include transition(.5s all ease-in-out);
		z-index: 0;
	}


	.top, .header, .content, .close-btn{
		@include transition(.2s all ease-in-out);
		@include opacity(0);
	}

	.close-btn{
		@include transform(scale(0));
		@include transform-origin(center, center);
	}

	.rating{
		
		text-align: center;
		margin-bottom: 10px;
	}


	.header, .content{
		padding: 10px 20px;
		text-align: center;
	}

	.calls{
		text-align: center;
		margin: 10px 0;
	}
	
	.alert{
		max-width: 320px;
		height: auto;
		position: absolute;
		left: 50%;
		top: 200px;
		z-index: 10;
		padding: 0;
		border: none;
		@include transition-delay(1s);
		@include box-shadow(0 0 24px rgba(0,0,0,.4));
		@include transform(scaleY(0)translate(-50%, 0));
		@include transform-origin(top, center);
		@include transition(.3s all ease-in-out);
	}

	.header{
		border-bottom: 1px solid rgba(0,0,0,.1);
	}

	.content{
		border-top: 1px solid rgba(0,0,0,.1);
		text-align: left;
	}

	.top{
		height: 200px;
		background-size: cover;
		position: relative;
		

		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(0,0,0,.3);
			display: block;
			width: 100%;
			height: 100%;
			z-index: 20;
		}

		&.no-shadow:after{
			display: none;
		}

	}
	.icons{
		color: white;
		font-size: 120px;
		text-align: center;
		line-height: 200px;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 21;

	}

	.close-btn{
		position: absolute;
		right: -20px;
		top: -20px;
		@include border-radius(300px);
		border: none;
		background-color: white;
		height: 40px;
		width: 40px;
		background-color: $red;
		border: 3px solid white;
		color: white;
		font-family: $proximabold;
		&:hover{
			cursor: pointer;
		}

	}

	
}

body.alert{
	.alert-container{
		pointer-events: auto;
		display: block;

		&:after{
			position: absolute;
			pointer-events: none;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-color: rgba(0,0,0,.4);
			z-index: 0;
			@include transition(.5s all ease-in-out);
		}

		.alert{
			@include transform(scaleY(1)translate(-50%, 0));
			@include transform-origin(top, left);
			@include transition(.3s all ease-in-out);

			.top, .header, .content, .close-btn{
				@include transition(.2s all ease-in-out);
				@include opacity(1);
			}
			
			.top{
				@include transition-delay(.2s);
				
			}

			.header{
				@include transition-delay(.4s);
				
			}

			.content{
				@include transition-delay(.6s);
				
			}

			.close-btn{
				@include transition-delay(.8s);
				@include transform(scale(1));
			}

		}
	}
}

body.alert-fixed{
	padding-top: 80px;

	header{
		top: 80px;
	}

	.nav-rich-contents{
		top: 236px;
	}

	.alert-fixed-container{
		@include transform(translateY(0px));	
		@include transition(.3s all ease-in-out);
		pointer-events: auto;
	}


	&.admin-bar{
		.alert-fixed-container{
			top: 32px;
		}

		header{
			top: 112px;
		}

		.nav-rich-contents{
			top: 268px;
		}
	}
}

.alert-fixed-container{
	position: fixed;
	top: 0;
	pointer-events: none;
	left: 0;
	width: 100%;
	height: 40px;
	padding: 20px 0;
	background-color: black;
	z-index: 100000;
	@include transform(translateY(-80px));
	@include transition(.3s all ease-in-out);

	.alert-fixed{
		color: $white;
		position: relative;
	}

	.icons, .content{
		display: inline-block;
		vertical-align: top;
	}

	.icons{
		font-size: 32px;
	}

	.content{
		margin-top: 10px;
		margin-left: 20px;
	}

	.close-btn{
		color: white;
		border: 1px solid rgba(255,255,255,.3);
		padding: 4px 10px;
		position: absolute;
		right: 10px;
		top: 0px;
		@include border-radius(4px);
		background: none;

		&:hover{
			cursor: pointer;
		}
	}


}





body.error404{
	section.error-404{
		text-align: center;
		padding: 300px 0;
		background: url(/wp-content/themes/twia/assets/images/texas-bg.png) no-repeat white scroll;
		background-attachment: fixed;
		background-position: top left;
		background-size: cover;

	}

	.num-404{
		font-size: 8rem;
		color: $gold;
	}
	
}



.post-password-required{
	.sm-masthead{
		display: none;
	}

	section{
		padding: 200px 0;
		background: url(/wp-content/themes/twia/assets/images/texas-bg.png) no-repeat white scroll;
		background-attachment: fixed;
		background-position: top left;
		background-size: cover;


	}

	.entry-content{
		max-width: 500px;
		margin: 0 auto;

	}

	input[type=submit]{
		font-family: $proximabold;
		font-size: .875rem;
		line-height: 1.4em;
		
		display: inline-block;
		height: auto;
		outline: none;
		border: none;
		vertical-align: top;
		cursor: pointer;
		padding: 11px 20px;
		text-align: center;
		text-transform: uppercase;
		font-size: .75em;
		
		letter-spacing: 1px;
		@include border-radius(4px);
		text-decoration: none;
		overflow: hidden;
		position: relative;
		background-color: $blue;
		color: white;
	}

	input[type=password]{
		height: 40px!important;
		padding: 0!important;
		width: 100%;
	}
}



body.page-id-2511{
	.sm-masthead{
		display: none;
	}
}